

.navbar{
    display: flex;
    flex-direction: row;
    background-color: #1bc5cb;
    text-decoration: none;
    color: black;
    list-style-type: none;
    width:100vw;
    margin:0;
}

.navbar  li{
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #1bc5cb;
    text-decoration: none !important;
    list-style-type: none;
    padding: 10px;
    padding-left: 20px;

}

li a{  color: black;
    background-color: #1bc5cb;
    text-decoration: none !important;
    list-style-type: none;
}

li a:hover{
    color:slategrey
}

.icon {
    display:none;
}
.text {
    display:inline-block;
}



@media screen and (max-width: 600px) {
    .navbar  li{
        padding: 10px;
        padding-left: 20px;
    
    }

    .icon {
        display:inline-block;
    }
    .text {
        display:none;
    }
    
    li a:hover{
        color:gold
    }
    
  }