#routes-container{
  margin: 0 auto;
  width: 40%;
}

.table{
  width:80vw;
  font-size: 12px;
}



#previous-routes{
    
    border-style: inset;
    width:40vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}

@media screen and (max-width: 600px) {

  #previous-routes{
    
    width:80vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    padding-left: 60px;
}

#routes-container{
  margin: 0 auto;
  width: 80%;
}

.table{
  width:200px;
  font-size: 10px;
}

    
}
@media screen and (max-width: 280px) {


#routes-container{
  margin: 0 auto;
  width: 80%;
}
.table{
  width:180px;
  font-size: 8px;
}
}
@media screen and (max-width: 320px) {


#routes-container{
  margin: 0 auto;
  width: 80%;
}
.table{
  width:160px;
  font-size: 8px;
}


    
}


.logout-btn{
  background-color: gold;
    position: absolute;
    bottom:   0;
    margin-bottom:10px;
    left: 45%;
} 



.container{
 margin-top: 30px;
}



